# Ignore the service account key file
config/serviceAccountKey.json

# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp/
.pnp.js

# Environment variables
.env

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp
